# documentation at https://docs.travis-ci.com/user/languages/r

# just the current release
language: R
r:
  - release

cache: packages

# Needed R packages
r_packages:
  - MBESS

addons:
  apt:
    packages:
    - libgsl-dev # GNU scientific library for MBESS
